header {
    margin-top: 25px;
}

// top nav styling 
.top-nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    div {
        width: 33%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

.top-nav-l li:last-child{
    display: none;
}

.top-nav-l, .top-nav-r {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 940px) {
    .top-nav {
        padding: 15px;
    }
    .top-nav-l, .top-nav-r {
        padding: 15px;
    }
}

// top nav - right menu leaves
@media (max-width: 880px) {
    .top-nav {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        div {
            width: 100%;
            margin: 0 auto;
        }
    }

    .top-nav-l {
        justify-content: space-around;
    }

    .top-nav-l li:last-child{
        display: initial;
    }
    
    .top-nav div ul {
        margin-top: -20px;
    }

    .top-nav div {
        margin-top: 5px;
    }

    ul.top-nav-r  {
        display: none;
        justify-content: space-around;
        order: 1;
        li {
            margin: 0;
        }
    }

    .logo {
        display: flex;
        margin: auto;
        padding: 20px 0;
    }
}

.top-nav-l li {
    margin-right: 25px;
}

@media (max-width: 1100px) {
    .top-nav-l li{
        margin-right: 10px;
    }
}

.top-nav-r {
    justify-content: flex-end;
    li {
    margin-left: 25px;
    position: relative;
    }
}

.top-nav-r p {
    font-size: 10px;
    position: absolute;
    background: #a8edea;
    border: .5px solid #a8edea;
    border-radius: 50%;
    padding: 0 6px;
    bottom: 10px;
    left: 10px;
}

.top-nav a {
    text-decoration: none;
    color: #1a1a26;
    text-transform: uppercase;
    &:hover {
        color: #888890;
    }
}

.logo {
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 940px){
    .logo img {
    }
}

// maing hero styling
.headings {
    display: flex;
    margin-top: 25px;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.6)), url(../assets/hero.jpg);
    background-size: cover;
    background-position: center;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    align-items: center;
    h3{
        color: #888890;
        margin: 0;
        padding-top: 250px;
        font-weight: 400;
    }
}

.headings h1 {
    margin: 0;
    font-weight: 500px;
    padding: 0 0 50px;
}

.arrows {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    margin: 20px;
    font-size: 50px;
    color: #888890;
}

.arrows a {
    background-color: none;
    color: #1a1a26;
    &:hover {
        color: #888890;
    }
}

.shop-now a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #f07f84;
    padding: 20px 40px;
    &:hover {
        background-color: #888890; 
    }
}

.shop-now {
    margin-top: 30px;
    padding-bottom: 250px;
}

.scroll-buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    color: #1a1a26;
    padding: 20px;
    a {
        color: #1a1a26;
        background-color: transparent;
        padding: 5px;
        font-size: 15px;
        &:hover {
            background-color: transparent;
        }
    }
}

.scroll-buttons i:hover {
    color: #888890;
    transform: scale(1.5);
}





